In [2]:
import os
import requests
from ftplib import FTP
import gzip
import io
import pandas as pd
import numpy as np

In [47]:
raw_path = "../data/raw/"

In [4]:
# noaa_ftp = FTP('ftp.ncei.noaa.gov')
# noaa_ftp.login()
# # noaa_ftp.retrlines('LIST')

In [49]:
# Get station info
noaa_ftp = FTP('ftp.ncei.noaa.gov')
noaa_ftp.login()


if not os.path.exists(raw_path + '/NOAA'):
    os.makedirs(raw_path + '/NOAA')
    
noaa_ftp.cwd("pub/data/noaa/")

stn_history_file = 'isd-history.txt'

with open(raw_path + '/NOAA/' + stn_history_file, 'wb+') as stn_hist:
        noaa_ftp.retrbinary('RETR ' + stn_history_file, stn_hist.write)

noaa_ftp.quit()

'221 Goodbye.'

In [90]:
stn_info = pd.DataFrame(columns = ['row','text'])
with open(raw_path + '/NOAA/' + stn_history_file, mode='rt') as stn_hist:
    for i, line in enumerate(stn_hist):
        if line[0:6]+'-'+line[7:12] in closest_weather_station['stn_id'].tolist():
            stn_info = stn_info.append(pd.DataFrame({'row': [i], 'text': [line]}))

In [93]:
stn_info

     row                                               text
0  16384  716170 99999 JONQUIERE  QUE                CA ...
0  19338  724115 93757 INGALLS FIELD AIRPORT         US ...
0  19342  724117 63802 LONESOME PINE AIRPORT         US ...
0  19823  725085 54756 ORANGE MUNICIPAL AIRPORT      US ...
0  20449  726116 94765 LEBANON MUNICIPAL AIRPORT     US ...
0  20531  726358 00384 MICHIGAN CITY MUNICIPAL AIRPO US ...

In [71]:
stn_info = pd.DataFrame(columns = ['row','text'])
stn_info = stn_info.append(pd.DataFrame({'row': [1], 'text': ['dkl']}))
stn_info

  row text
0   1  dkl

In [88]:
a in closest_weather_station['stn_id'].tolist()

True

In [50]:
closest_weather_station

                      site        stn_id                   stn_name
0                     INDU  726358-00384      Michigan City Airport
1       SOUTHERNMOST MAPLE  724115-93757      Ingalls Field Airport
2             DIVIDE RIDGE  724117-63802      Lonesome Pine Airport
3  NORTHERN RANGE - QUEBEC  716170-99999       Bagotville (CAN-MIL)
4           HARVARD FOREST  725085-54756   Orange Municipal Airport
5   DARTMOUTH ORGANIC FARM  726116-94765  Lebanon Municipal Airport

In [3]:


if not os.path.exists(raw_path + '/LEB'):
    os.makedirs(raw_path + '/LEB')

year = "2010"
filename = "726116-94765-2010.gz"
noaa_ftp.cwd("pub/data/noaa/" + year)

In [40]:
os.getcwd()

'/home/steffen/UBC/personal/sapflow/src'

In [42]:
with open(raw_path + '/LEB/' + filename, 'wb+') as stn_gz:
        noaa_ftp.retrbinary('RETR ' + filename, stn_gz.write)

In [45]:
with gzip.open(raw_path + '/LEB/' + filename, 'rb') as stn_data:
    file_content = stn_data.read()

In [48]:
with gzip.open(raw_path + '/LEB/' + filename, mode='rt') as stn_data:
    for i, line in enumerate(stn_data):
        year_df.loc[i, 'datetime'] = pd.to_datetime(line[15:27])
        year_df.loc[i, 'airt'] = float(line[87:92])/10

NameError: name 'year_df' is not defined

In [22]:
a=np.ndarray(shape13148).fill(np.nan)
a

In [25]:
np.full(13148, np.nan)

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan])

In [47]:
for line in file_content:
    print(line)
    break

48

In [36]:
noaa_ftp.quit()

'221 Goodbye.'

In [27]:
os.getcwd()

'/home/steffen/UBC/personal/sapflow/src'

In [43]:
location = pd.read_csv('../data/raw/stinson2019/ACERnet_LatLon.csv')
location = location.rename(columns = {'Site':'site', 'Loc':'state_province'})
location = location.set_index('site')

# Fix inconsistency in acronym for Quebec site between data tables
if 'QB' in location.index:
    location = location.rename({'QB': 'QC'}, axis='index')
    location.loc['QC',:] = location.loc['QC',:].replace(regex =[r'^QB$'], value = 'QC')
    
location = location[['lat', 'lon', 'short_name', 'long_name', 'state_province']]
location

,lat,lon,short_name,long_name,state_province
site,,,,,
DOF,43.733800,-72.249000,Dartmouth,Dartmouth Organic Farm,NH
QC,48.430919,-70.688456,Boris,Boris,QC
HF,42.531500,-72.189900,Harvard,Harvard Forest,MA
INDU,41.625400,-87.081100,Indiana Dunes,Indiana Dunes National Lakeshore,IN
SMM,38.235181,-79.657058,Southernmost,Southernmost Maple,VA
DR,37.010800,-82.676400,Divide Ridge,Divide Ridge,VA

In [45]:
stn_ids = [['INDU', '726358-00384', 'Michigan City Airport'],
           ['SOUTHERNMOST MAPLE', '724115-93757', 'Ingalls Field Airport'],
           ['DIVIDE RIDGE', '724117-63802', 'Lonesome Pine Airport'],
           ['NORTHERN RANGE - QUEBEC', '716170-99999', 'Bagotville (CAN-MIL)'],
           ['HARVARD FOREST', '725085-54756', 'Orange Municipal Airport'],
           ['DARTMOUTH ORGANIC FARM', '726116-94765', 'Lebanon Municipal Airport']]

closest_weather_station = pd.DataFrame(stn_ids, columns = ['site', 'stn_id','stn_name'])
closest_weather_station

weather_stn = pd.DataFrame({'stn_id':closest_weather_station['site'], 'lat':0, 'lon':0})
weather_stn

                    stn_id  lat  lon
0                     INDU    0    0
1       SOUTHERNMOST MAPLE    0    0
2             DIVIDE RIDGE    0    0
3  NORTHERN RANGE - QUEBEC    0    0
4           HARVARD FOREST    0    0
5   DARTMOUTH ORGANIC FARM    0    0

Indiana Dunes National Lakeshore - INDU
726358-00384 -- Michigan City Airport

Southernmost Maple
724115-93757 -- Ingalls Field Airport

Divide Ridge
724117-63802 -- Lonesome Pine Airport

Boris
716170-99999 -- Bagotville (CAN-MIL)

Harvard Forest
725085-54756 -- Orange Municipal Airport

Dartmouth Organic Farm
726116-94765 -- Lebanon Municipal Airport